
     
      .blinking {
                animation: blinker 1.5s linear infinite;
                color: rgb(19, 44, 77);
                font-family: 'Times New Roman', Times, serif;
            }
            @keyframes blinker {
                50% {
                    opacity: 0;
                    color: rgb(32, 41, 145);
                    
                }
            }
            blink {
                animation: blinker 1.5s linear infinite;
                color:black;
            }
            @keyframes blinker {
                50% {
                    opacity: 5%;
                    color:blue;
                   
                }
            }
    nav{
      width:100%;
      position: fixed; 
      
      padding: 10px 0;
      overflow: hidden;
    position: sticky; 
    z-index: 1000;
    
    }
        ul {
            list-style-type: none;
            padding:0% 0% 0% 15%;
            font-size: 150%;
            overflow: hidden;
            background-color: #333;
            border-radius: 0px 100px 100px 0px;
            position: fixed; 
           top: -24px; 
           left:-20px;
           width:100%; 
 
          }
          
          
          
          li {
            float: left;
           
          }
          
          li a {
            display: block;
            color: white;
            margin-right: 40px;
            margin-left: 40px;
            padding: 14px 16px 14px 16px;
            text-decoration: none;
            transition: 0.5s;
            
            
          }
          
          li a:hover {
            background-color:white;
            color:black;
            box-shadow: 0px 10px 40px -5px #ffffff;
            transition: 0.5s;
        
          }
          #img1{
            border-radius: 55%;
            transition: 1s;
            border:3px solid#f7dbb5;
          
        }
          #img1:hover{
            rotate: left;
            width: 330px;
            height: 270px;
            color: green;
            box-shadow: 0px 5px 40px 5px #04101a;
            transition: 1s;
            border:0px ;
          }
          
          div a svg .linked:hover{
            background-color: white;
          }

          #resume{
            text-decoration:none;
            background-color: #809fa2;
            border-radius: 100px;
            color: white;
            padding: 10px 10px 10px 10px;
            border:2px solid white;
            transition: 1s;

          }
          #resume:hover{
            background-color: #617a7c;
            color: rgb(255, 255, 255);
            box-shadow: 0px 0px 2px 0px #000000 ;
            border:2px solid rgb(32, 36, 32);
            transition: 0.5s;
            
          }

        .certification-container{
          display: flex;
          justify-content: space-around;
        }

        #c1{
          
          transition: 1s;
          box-shadow: 0px 10px 40px -13px rgb(245, 247, 248);
          text-align: center;
          
          
        }
        #c1:hover{
          transition: 1s;
        }

        #c2{
          
          transition: 1s;
          box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
          text-align: center;
          
        }
        #c2:hover{
          transition: 1s;
        }
        #c3{
          transition: 1s;
        }

        #c3{
          
          transition: 1s;
          box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
          text-align: center;
          
        }
        #javanptel{
          color:rgb(204, 204, 207);
          
        }
        #javanptel:hover{
          color: rgb(255, 255, 255);
          
        }

        #pythonskillup{
          color:rgb(204, 204, 207);
         
        }

        #pythonskillup:hover{
          color: rgb(255, 255, 255);
          
        }

        #htmlskill{
          color:rgb(204, 204, 207);
          
        }
        #htmlkill:hover{
          color: rgb(255, 255, 255);
          
        }

        .cer1{
          background-color: rgb(204, 204, 207);
          text-align: center;
          
          transition: 1.5s;
          box-shadow: 0px 15px 40px -13px rgb(57, 47, 47);
        }
        .cer1:hover{
                  color: rgb(255, 255, 255); 
                  height:276.8px;
                  background-color: rgb(0, 0, 0);
                  transition: 1s;
                  box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
                  text-align: center;
                  
                  
          
        }
        .cer2{
          background-color: rgb(204, 204, 207);
          text-align: center;
          
          transition: 1.5s;
          box-shadow: 0px 15px 40px -13px rgb(57, 47, 47);
        }
        .cer2:hover{
         
                  height:220px;
                  height:276.8px;
                  color: white;
                  background-color: rgb(0, 0, 0);
                  transition: 1s;
                  box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
                  text-align: center;
          
        }
        .cer3{
          background-color: rgb(204, 204, 207); 
          text-align: center;
         
          transition: 1.5s;
          box-shadow: 0px 15px 40px -13px rgb(57, 47, 47);
        }
        .cer3:hover{
          
          height:276.8px;
                  color: white;
                  background-color: rgb(0, 0, 0);
                  transition: 1s;
                  box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
                  text-align: center;
          
        }

      
          #myname{
          color: rgb(0, 0, 0);
          }
        
          #myname:hover{
            color: rgb(89, 85, 85);
            font-family:'Times New Roman', Times, serif;
          }

          .about{
            padding-left:100px;
          }


          .card-container {
            display: flex; 
            justify-content: space-around; 
            
        }

        .card {
            width: 200px; /* Set the width of each card */
            border: 1px solid #ccc;
            height: 150px;
            padding: 10px;
            margin: 10px;
            color: rgb(18, 22, 24);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            background-color :rgb(205, 216, 221);
            transition: 1s;
            position: relative;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 10px 40px -10px #000000;
           
        }

        .default-text,
        .hover-text {
            position: absolute;
            top: 50%;
            left: 50%;
            width:100px;
           
            transform: translate(-50%, -50%);
            transition: opacity 0.7s ease;
        }

        .default-text {
            opacity: 1;
            width:100%;
            
            
        }

        .hover-text {
            opacity: 0; /* Hover text is initially hidden */
            color: white; /* Set hover text color */
            background-color:     #809fa2; /* Set hover text background color */
            padding: 10px; /* Add padding to hover text */
            border-radius: 30px; /* Add rounded corners to hover text */
            width:100%;
            transition: 1.3s;
           
        }


       .card:hover .default-text {
            opacity: 0; /* Hide default text on hover */
           
        }

        .card:hover .hover-text {
            opacity: 1; /* Show hover text on hover */
        }
        
        .skills-container{
          width: 100%;
          background-color: #ddd;
        }
        .edu{
          text-align: center;
        }

        .hobbies-container{
          display: flex;
          justify-content: space-around;
        }
        .hobbies{
            text-align: center;
            color: rgb(255, 255, 255);
            box-shadow: 0px 10px 40px -13px black;
          padding:5px 10px 5px 10px;
          background-color: rgb(166, 161, 161);
          border-radius: 15px;
          transition: 0.5s;

        }
        .hobbies:hover{
          color: rgb(52, 42, 42);
          padding:10px 15px 10px 15px;
          box-shadow: 0px 10px 40px -13px white;
          padding: 4px 4px 4px 4px;
          transition: 0.5s;
         
        }

        .aws-container{
          background: rgba(66, 61, 61, 0.1);
          justify-content: flex-start;
          border-radius: 100px;
          align-items: center;
          position: relative;
          padding: 0 5px;
          display: flex;
          height: 40px;
          width:500px;
          
          transition: 1s;
      }

.aws {
  animation: loaded 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  text-align:right;
  width: 100%;
  padding:1px 10px 1px 0px;
  
  
}
.aws-container:hover{
  width:80%;
  text-align: center;
  transition: 1s;
  background-color: rgb(161, 159, 159);
}
@keyframes loaded {
  0% { width: 50; }
  100% { width: 70%; }
}

.java-container{
  background: rgba(66, 61, 61, 0.1);
          justify-content: flex-start;
          border-radius: 100px;
          align-items: center;
          position: relative;
          padding: 0 5px;
          display: flex;
          height: 40px;
          width: 500px;
          
          transition: 1s;
      }

.java {
  animation: loading 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  text-align:right;
  padding:1px 10px 1px 0px;
  width: 100%;
  
}
.java-container:hover{
  width:80%;
  text-align: center;
  transition: 1s;
  background-color: rgb(161, 159, 159);
}

@keyframes loading {
  0% { width: 50; }
  100% { width:75%; }
}

.python-container{
  background: rgba(66, 61, 61, 0.1);
          justify-content: flex-start;
          border-radius: 100px;
          align-items: center;
          position: relative;
          padding: 0 5px;
          display: flex;
          height: 40px;
          width: 500px;
          
          transition: 1s;
      }

.python {
  animation: loader 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  text-align:right;
  padding:1px 10px 1px 0px;
  width: 100%;
  
}
.python-container:hover{
  width:80%;
  text-align: center;
  transition: 1s;
  background-color: rgb(161, 159, 159);
}
@keyframes loader {
  0% { width: 50; }
  100% { width: 85%; }
}

.html-container{
    background: rgba(66, 61, 61, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width:500px;
    
    transition: 1s;
}

.html {
animation: loadeed 5s normal forwards;
box-shadow: 0 10px 40px -10px #fff;
border-radius: 100px;
background: #fff;
height: 30px;
text-align:right;
width: 100%;
padding:1px 10px 1px 0px;


}
.html-container:hover{
width:80%;
text-align: center;
transition: 1s;
background-color: rgb(161, 159, 159);
}
@keyframes loadeed {
0% { width: 50; }
100% { width: 80%; }
}

.sales-container{
  background: rgba(66, 61, 61, 0.1);
          justify-content: flex-start;
          border-radius: 100px;
          align-items: center;
          position: relative;
          padding: 0 5px;
          display: flex;
          height: 40px;
          width: 500px;
          
          transition: 1s;
      }

.sales {
  animation: load 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  text-align:right;
  padding:1px 10px 1px 0px;
  width: 100%;
  
}
.sales-container:hover{
  width:80%;
  text-align: right;
  transition: 1s;
  background-color: rgb(161, 159, 159);
}

@keyframes load {
  0% { width: 50; }
  100% { width: 70%; }
}
        .tools-container{
          display: flex;
          justify-content: space-around;
          
          border-radius: 100px;
         
        }
        .tools{
          color: rgb(255, 255, 255);
box-shadow: 0px 10px 40px -13px black;
          padding:5px 10px 5px 10px;
          background-color: rgb(166, 161, 161);
          border-radius: 15px;
          transition: 0.5s;
        }

        .tools:hover{
          color: rgb(52, 42, 42);
          padding:10px 15px 10px 15px;
          box-shadow: 0px 10px 40px -13px white;
          padding: 4px 4px 4px 4px;
          transition: 0.5s;
         
        }
        #skills{
          padding-top: 100px;
        }
       
        .project-container{
          display: flex;
          justify-content: space-around;
          

        }
          #projects{
            padding-top: 80px;

          }
          
          #pro1{
              border-radius: 20px;
              transition: 1s;
              box-shadow: 0px 10px 40px -13px rgb(245, 247, 248);
              text-align: center;
              
            }
            /* #pro1:hover{ 
              color: rgb(31, 32, 111); 
              height:220px;
              width: 340px;
              background-color: rgb(0, 0, 0);
              transition: 1s;
              box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
              text-align: center;
               }
               */
               #pro2{
                border-radius: 20px;
                transition: 1s;
                box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
                text-align: center;
                
              }
           /*   #pro2:hover{
                color: rgb(31, 32, 111); 
                height:220px;
                width: 362px;
                background-color: rgb(0, 0, 0);
                transition: 1s;
                box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
                text-align: center;
                 }
                  */
                 #pro3{
                  border-radius: 20px;
                  transition: 1s;
                  box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
                  text-align: center;
                  
                }
                /* #pro3:hover{
                  color: rgb(31, 32, 111); 
                  height:220px;
                  width: 362px;
                  background-color: rgb(0, 0, 0);
                  transition: 1s;
                  box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
                  text-align: center;
                   }
                 .proj1{
                  background-color: background-color: rgb(161, 159, 159);
                 } */
        .proj1{
          background-color: rgb(204, 204, 207);
          text-align: center;
          border-radius: 20px;
          transition: 1s;
          box-shadow: 0px 15px 40px -13px rgb(57, 47, 47);
        }
        .proj1:hover{
                  color: rgb(255, 255, 255); 
                  height:276.8px;
                  background-color: rgb(0, 0, 0);
                  transition: 1s;
                  box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
                  text-align: center;
                  
          
        }
        .proj2{
          background-color: rgb(204, 204, 207);
          text-align: center;
          border-radius: 20px;
          transition: 1s;
          box-shadow: 0px 15px 40px -13px rgb(57, 47, 47);
        }
        .proj2:hover{
          color: rgb(31, 32, 111); 
                  height:220px;
                  height:276.8px;
                  color: white;
                  background-color: rgb(0, 0, 0);
                  transition: 1s;
                  box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
                  text-align: center;
          
        }
        .proj3{
          background-color: rgb(204, 204, 207); 
          text-align: center;
          border-radius: 20px;
          transition: 1s;
          box-shadow: 0px 15px 40px -13px rgb(57, 47, 47);
        }
        .proj3:hover{
          color: rgb(31, 32, 111); 
          height:276.8px;
                  color: white;
                  background-color: rgb(0, 0, 0);
                  transition: 1s;
                  box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
                  text-align: center;
          
        }

        #Uname{
          border-radius: 10px;
          border-bottom-color: black;
          border-right-color: black;
          padding: 5px 5px 5px 5px;
        }
        #Uname:hover{
          border-radius: 8px;
          box-shadow: 0 0 5px black;
          border-top-color:gray;
        }

        #email{
          border-radius: 10px;
          border-bottom-color: black;
          border-right-color: black;
          padding: 5px 5px 5px 5px;
         

        }
        #email:hover{
          border-radius: 8px;
          box-shadow: 0 0 5px black;
          border-top-color:gray;
        }

        #number{
          border-radius: 10px;
          border-bottom-color: black;
          border-right-color: black;
          padding: 5px 5px 5px 5px;
        }
        #number:hover{
          border-radius: 8px;
          box-shadow: 0 0 5px black;
          border-top-color:gray;
        }
        
        #message{
          border-radius: 10px;
          border-color:black;
          padding: 5px 5px 5px 5px; 
          transition: 0.2s;
        }
        #message:hover{
          border-radius: 8px;
          box-shadow: 0 0 5px black;
         
          
        }

        #submit{
          border-radius: 10px;
          border-color:black;
          padding: 5px 20px 5px 20px; 
          box-shadow: 0 0 5px rgb(255, 255, 255);
          background-color: #c0c0c0;
          font-size:  16px;
          
        }

        #submit:hover{
          border-radius: 8px;
          border-color:black;
          box-shadow: 0 0 5px black;
          background-color:#c0c0c0;
          color: white;
        
        }

        #excellence{
          
          transition: 1s;
          box-shadow: 0px 10px 40px -13px rgb(255, 255, 255);
          border-color:black;
          box-shadow: 5px 5px 30px -5px rgb(0, 0, 0);
          border: 2px solid rgb(255, 255, 255);
          
        }
        #excellence:hover{
          transition: 1s;
          border-color:black;
          box-shadow: 0 0 5px -12px rgb(142, 63, 18);
          height: 225px;
          width: 330px;
          border: 2px solid black;
        }

        body {
          margin: 10px;
          padding: 0;
         
          overflow-x: hidden; 
          max-width: 100%;  
          background: linear-gradient(to bottom, #d3edff,#6c9ab1, #5a8eb0); /* Your gradient colors */
          background-attachment: fixed; /* Fixed background attachment for performance */
          background-size: cover; /* Cover to fill the entire viewport */
          background-repeat: no-repeat;

          
   
        }